{% extends 'base.html.twig' %}

{% block title %} Scripts {% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th> ID </th>
                <th>Lines Per Actor</th>
                <th> Words Per Actor </th>
                <th> Mentions Per Actor </th>
                <th> Movies Per Year</th>
                <th> Percent Of Fails </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ScriptTitles.id}}</td>
                <td>{{ScriptTitles.linesPerActor}}</td>
                <td>{{ScriptTitles.wordsPerActor}}</td>
                <td>{{ScriptTitles.mentionsPerActor}}</td>
                <td>{{ScriptTitles.moviesPerYear}}</td>
                <td>{{ScriptTitles.percentOfFails}}</td>
            </tr>
    </table>
    <a href="/scripts/">Go Back</a>

{% endblock %} 