{% extends 'base.html.twig' %}

{% block title %} Scripts {% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th> Title</th>
                <th>Production Company</th>
                <th> Actor 1 </th>
                <th> Actor 2 </>
                <th> Actor Pay</th>
                <th> Actor Revenue </th>
                <th> Company Revenue </th>
                <th> Losses </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ScriptTitles.title}}</td>
                <td>{{ScriptTitles.company}}</td>
                <td>{{ScriptTitles.Actor}}</td>
                <td>{{ScriptTitles.Actor1}}</td>
                <td>{{ScriptTitles.ActorPay}}</td>
                <td>{{ScriptTitles.ActorRevenue}}</td>
                <td>{{ScriptTitles.CompanyRevenue}}</td>
                <td>{{ScriptTitles.losses}}</td>
            </tr>
    </table>
    <a href="/">Go Back</a>

{% endblock %} 